<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Users</title>
</head>
<body>
    <h1>{{user.first_name}} {{user.last_name}}</h1>
    <div id="container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th> First name</th>
                    <th> Last Name</th>
                    <th>Email</th>
                    <th> Created At</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{user.idusers}}</td>
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.created_at}}</td>
                    <td><a href="/edit/{{user.idusers}}">Edit</a></td>
                    <td><a href="/delete/{{user.idusers}}">Delete</a></td>
                </tr>
            </tbody>
        </table><br><br>
        <a href="/users">Back To User</a> 
    </div>
</body>